#################################
# Application
#################################

PORT=3000

#################################
# URLs
#################################

NEXT_PUBLIC_API_URL=http://localhost:5001/api
NEXT_PUBLIC_AUTH_API_URL=http://localhost:5001/api
NEXT_PUBLIC_CMS_URL=http://localhost:3001

#################################
# Features
#################################

NEXT_PUBLIC_DEMO_MODE=false
